[app]
name = manhua
env= dev
timezone = Asia/Shanghai
[redis]
host = 127.0.0.1
port = 6379
db = 0
prefix = mh_
#mongodb 默认连接 不可修改名称
[database.mongodb.default]
host    = 127.0.0.1
port    = 27017
dbname  = manhua
username =
password =
#replica = hs520
[session]
adapter = Files
[session.Files]
lifetime = 3600
prefix = mh_
uniqueId = _hj-sid
[session.Redis]
host = 127.0.0.1
port = 6379
persistent = false
lifetime = 3600
prefix = mh_
index = 1
uniqueId = _mh-sid
[queue]
channel = mh_queue_
index = 2
[cache]
adapter = redis
lifetime = 3600
host = 127.0.0.1
port = 6379
index = 3
prefix = mh_
[modules]
Backend = /admin19989
Api = /mhapi
Front = /
[elastic]
host = http://127.0.0.1:9200
prefix = manhua_